.container
  .row.mt-5
    .col-lg-6.ml-auto.mr-auto
      .card
        %h4.card-header.text-center Reset Your Password
        .card-body
          = form_tag [:password_resets], method: :post do
            .form-group
              %label(for='email') Email
              = email_field_tag :email, params[:email], autofocus: true, class: 'form-control', required: true
            = submit_tag 'Send Instructions', class: 'btn btn-primary btn-block', data: { disable_with: 'Please wait...' }
      %p.text-center.my-3
        = link_to 'Sign In', signin_path
