.row.mar-t-lg
  .col-lg-6.mar-xy-auto
    %h4.text-center Reset Your Password
    = form_tag [:password_resets], method: :post do
      .input-field
        %label(for='email') Email
        = email_field_tag :email, params[:email], autofocus: true, required: true
      = submit_tag 'Send Instructions', class: 'button button-block', data: { disable_with: 'Please wait...' }
      %p.text-center.mar-y-lg
        = link_to 'Sign In', signin_path
