.container
  .row
    .col
      .jumbotron
        %h1.display-3 Welcome!
        %p.lead You have successfully authenticated!
        %hr.my-4
        %p
          Decent Authentication is a sample Ruby on Rails application that implements authentication
          using only built-in libraries.
