.row.mar-t-lg
  .col.mar-xy-auto
    %h1 Welcome!

    %p You have successfully authenticated!

    %p
      Decent Authentication is a sample application that implements authentication in Rails without
      the use of a third-party generator or engine.
