%section(class="mt-6 sm:px-10")
  %h1.text-3xl.font-semibold Welcome!

  %p.text-xl.font-medium You have successfully authenticated!

  %p.mt-6.font-medium
    Decent Authentication is a sample application that implements authentication in Rails without
    the use of a third-party generator or engine.

  %p.mt-6
    Make any changes to your
    = link_to 'profile.', profile_path
