@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply .font-sans .antialiased .text-gray-800;
  height: 100%;
}

body {
  @apply .bg-white;
  height: 100%;
}

.grid-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

a {
  @apply .font-medium .text-blue-600 .transition .ease-in-out .duration-150;
  &:hover {
    @apply .text-blue-500 .underline;
  }
  &:focus {
    @apply .outline-none .underline;
  }
}

label {
  @apply .block .font-medium .leading-5 .text-gray-700;
}

.btn {
  @apply .flex .justify-center .text-white .border .border-transparent .rounded .px-4 .py-2 .font-medium .transition .ease-in-out .duration-150;
}

.btn-blue {
  @apply .bg-blue-600;
  &:hover {
    @apply .bg-blue-500;
  }
  &:focus {
    @apply .border-blue-700 .outline-none .shadow-outline-blue;
  }
  &:active {
    @apply .bg-blue-700;
  }
}

.text-muted {
  @apply .text-gray-600;
}

.alert {
  @apply .rounded-md .mt-4 .p-4;
}

.alert-success {
  @apply .bg-green-50 .text-green-700;
}

.alert-error {
  @apply .bg-red-50 .text-red-700;
}

.alert-warning {
  @apply .bg-yellow-50 .text-yellow-700;
}

.alert-info {
  @apply .bg-blue-50 .text-blue-700;
}

.github-icon:hover {
  color: #171515;
}

.twitter-icon:hover {
  color: #1da1f3;
}
