/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'layout';
@import 'shoelace';

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
  color: #212529;
}

header {
  height: 60px;
  background-color: #24292e;
  #home-link {
    padding-left: 1.5rem;
    .icon {
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  #user-nav {
    padding: 0 1.5rem 0 0;
    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      padding: 20px 0 17px 0;
      &:hover {
        color: #fff;
        text-decoration: none;
        border-bottom: 3px solid #fff;
      }
    }
  }
}

footer {
  background-color: #eaeaea;
}

footer .container {
  padding: .5rem 1.5rem;
  height: 4rem;
}

.icon {
  font-size: 24px;
  color: #999;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.icon-twitter:hover {
  color: #1da1f3;
}

.icon-github:hover {
  color: #171515;
}

.list-inline {
  list-style: none;
  li {
    padding-left: 12px;
    display: inline-block;
  }
}
