/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* End Reset */

body {
  color: #555;
  font: 14px/1.5em Helvetica, Arial, sans-serif;
  background: #fff url(image_path('bg.png')) repeat;
}

header, section {
  width: 550px;
  margin: 10px auto;
}

section {
  margin-top: 30px;
}

h1 {
  font-size: 28px;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
}

strong {
  font-weight: bold;
}

form.button_to {
  display: inline-block;
}
.button-link {
  border: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: 1.0em;
  text-decoration: none;
  cursor: pointer;
  color: #008ce5;
}
.button-link:hover {
  text-decoration: underline;
}

nav {
  text-align: center;
}
nav a, form a {
  color: #008ce5;
  text-decoration: none;
}
nav a:hover, form a:hover {
  text-decoration: underline;
}
form > div {
  margin-bottom: 12px;
}
  form > div:last-child {
  margin: 0;
}

article {
  width: 365px;
  margin: 30px auto 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
}

#home {
  text-align: center;
}

label {
  display: block;
}
  label:hover {
  cursor: pointer;
}
#remember-me {
  display: inline;
}

#email, #password, #user_email, #user_password, #user_password_confirmation {
  font: 14px Helvetica, Arial, sans-serif;
  padding: 3px;
  width: 80%;
  margin: 0;
}

#flash-success, #flash-error {
  background-color: #fff;
  color: #585;
  font-weight: bold;
}
#flash-error {
  color: #c00;
}

.error-messages {
  color: #c00;
  font-weight: bold;
}

.button {
  border: 1px solid #bbb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: -moz-linear-gradient(100% 100% 90deg, #d5d5d5, #f4f4f4);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
  background: -webkit-linear-gradient(#f4f4f4, #d5d5d5);
  background: -o-linear-gradient(#f4f4f4, #d5d5d5);
  color: #232d3d;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 4px 10px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
}

.button:active, .button:hover {
  color: #008ce5;
}

.button:active {
  box-shadow: inset 0 1px 2px #ccc;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
}
